<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col" id="user-info">
                    <img id="profile-pic" src="#">
                    <h2 id="username"></h2>
                    <p id="game-version"></p>
                    <div id="site-badges"></div><!--CREATE REWARD SYSTEM W/ BADGES-->
                </div>
                <div class="col" id="badge-summary">
                    <div class="badge-pics">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col" id="pokedex-summary">
                    <p id="summary-total">?/150</p>
                    <p id="summary-trade"></p>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>